<h2 class="about-h2">about</h2>
<section class="about">
    <div class="circle-box-left">
        <div class="circle-one">
            <p>unique design ideas
                <span class="circle-mini"></span>

            </p>
            <img src="./img/Vector1.png" alt="vector" class="circle-one-img">
        </div>
        <div class="circle-two">
            <p>superhuman ability to detail
                <span class="circle-mini"></span>

            </p>
            <img src="./img/Vector2.png" alt="vector" class="circle-two-img">

        </div>
    </div>
    <h3 class="about-title">superpowers</h3>
    <div class="circle-box-right">
        <div class="circle-three">
            <p>perfect colour matching
                <span class="circle-mini"></span>

            </p>
            <img src="./img/Vector3.png" alt="vector" class="circle-three-img">


        </div>
        <div class="circle-four">
            <p>complex ideas & concepts
                <span class="circle-mini"></span>

            </p>
            <img src="./img/Vector4.png" alt="vector" class="circle-four-img">


        </div>
    </div>
</section>